// Set your brand colors
$brand: yellow;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Roboto", sans-serif',
  $primary: $brand,
);



body {
  font-family: 'Roboto', sans-serif;
  background: #222;
}

.GameBrand {
  text-align: center;
  color: #fff;
  font-size: 38px;
  font-family: "Matemasie", sans-serif;
}

.GameStats {
  background: #fff;
  height: 30px;
}