// Set your brand colors
$brand: green;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Roboto", sans-serif',
  $primary: $brand,
);

body {}

.GameBrand {
  text-align: center;
  color: #fff;
  padding: 5px 0 15px 0;
  font-size: 36px;
  line-height: 1;
  font-family: "Matemasie", sans-serif;
}

.GameStats {
  width: 100%;
}

.GameStats__container {
  background: #fff;
  max-width: 410px;
  padding: 10px;
  margin: auto;
  display: flex;
}

.GameStats__image {
  height: 118px;
  width: 118px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 90%;
    height: auto;
  }
}

.GameStats__leaderboard {
  flex-grow: 1;
}

.Leaderboard {
  overflow: hidden;
  color: #333;
  margin-left: 10px;
}

.Leaderboard__item {
  margin: 2px 0;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 6px;
  border: 1px solid #333;
}

.Leaderboard__item--won {
  border: 1px solid green;
  background: rgba(green, 0.5);
}

.GamePromo {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 0;
  color: #fff;
}

.GameCard {
  width: 100%;
}

.GameCard__container {
  background: #fff;
  max-width: 410px;
  padding: 5px;
  margin: auto;

  canvas {
    display: block;
  }
}

.GameFooter {
  width: 100%;
}

.GameFooter__container {
  max-width: 410px;
  padding: 10px;
  margin: auto;
}

.GameFooter__info {
  font-size: 14px;
  display: flex;
  width: 100%;
}

.GameFooter__info-item  {
  width: 50%;
}

.GameFooter__action {
  text-align: center;
  width: 100%;
}